<!doctype html> 
<html> 
<head> 
    <meta charset="UTF-8" />
    <title>Juego</title>
    <script type="text/javascript" src="../static/js/phaser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../static/js/juego.js"></script>
    <script type="text/javascript" src="../static/js/init_game.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            socket.emit('my event', {data: 'Estoy en la matrix'});
        });
    </script>
</head>
<body>
      <div id="game"></div>
</body>
</html>