{% extends 'base/inicio.html' %}
{% block inicio %}
    {% from "macros/macro1.html" import render_entryes %}
    <div id="tf-contact">
        <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <dir class="alert alert-success">{{ message }}</dir>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h2>{{ session.username }}</h2>
        <h2>{{ session.mail }}</h2>
        <h2>{{ session.coment }}</h2>
        </div>
    </div>
{% endblock inicio %}